@import './utils/resize';
:root {
    --bg-color: #f4f4f4;
    --text-color: #111321; // all text
    --color-btn-favorite: #111321;
    --white-color: #ffffff;
    --accent-color: #4440f6;
    --gray-color: #a8a8a8; // date
    --footer-color: #7a7a7a;
    // switcher colors
    --switcher-gray-moon: #5f6775;
    // --switcher-accent: #4b48db;
    --switcher-accent-day: #4b48db;

    // DarkMode
    body.darkMode {
        --bg-color: #2e2e2e;
        --text-color: #f4f4f4;
        // switcher colors
        // --switcher-gray: #f4f4f4;
        --switcher-accent-day: #f4f4f4;

        --switcher-gray-moon: #4440f6;
    }
}

.container {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;

  @include tablet{
max-width: 768px;
  }

@include desktop{
max-width: 1280px;
}

}

body {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    line-height: 150%;
    font-style: normal;
    font-weight: 400;
    color: var(--text-color);
    background-color: var(--white-color);
}

button {
    cursor: pointer;
    font-family: inherit;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
ul,
p {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    //   cursor: url(../../images/cursor-hand.svg), pointer;
}

img {
    width: 100%;
    display: block;
}

address {
    font-style: inherit;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    font-family: inherit;
    //   cursor: url(../../images/cursor-hand.svg), pointer;
    background-color: inherit;
    box-shadow: none;
}

svg {
    fill: currentColor;
}


.checkbox_toFavorite{
    position: absolute;
    bottom: 12;
    right: 8;
// display: none;
&:checked{
    content: 'Remove from favorites';
}
}