.news-gallery_list {
  display: flex;
  flex-direction: column;
  gap: 28px;
  @include tablet {
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
  }
     @include desktop {
      margin-bottom: 60px;
     }
}
.gallery__item {
  position: relative;
  display: flex;
  @include tablet {
    width: calc((100% - 30px) / 2);
  }
  @include desktop {
    width: calc((100% - 60px) / 3);
  }
}
.gallery__article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.gallery__header {
  margin-bottom: 20px;
  font-size: 32px;
  height: auto;
  font-weight: 700;
  letter-spacing: -0.32px;
  line-height: normal;
}

.gallery__text {
  font-size: 16px;
  margin-bottom: 20px;
}
.gallery__text,
.gallery__header {
  color: var(--text-color);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  white-space: pre-wrap;
}
.gallery__thumb {
  position: relative;
  margin-bottom: 20px;
}
.gallery__img {
  border-radius: 4px;
 
}
.gallery__category {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  background-color: #4440f6;
  color: #ffffff;
  position: absolute;
  padding: 4px 8px 4px 8px;
  height: 24;
  left: 0px;
  top: 40px;
  background: rgba(68, 64, 247, 0.7);
  border-radius: 0px 4px 4px 0px;
}

.gallery__item-bottom_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: 0;
}
.fav_swg_wrap {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favorite__btn-span {
  display: flex;
  justify-content: space-between;
}

.is-hidden {
  visibility: hidden;
}

.checkbox_toFavorite-container {
  position: absolute;
  bottom: 12px;
  right: 12px;
  padding: 6px 32px 6px 12px;
  border-radius: 20px;
  color: #111321;
  background: #fff;
}

.favorite_checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  fill: none;
}

.checkbox_toFavorite-container input:checked ~ svg  {
  fill: #4440f6;
}
.gallery__link{
  color: #4440f6;
}

.gallery__date{
  color: #A8A8A8;
}